{% extends 'home.html' %}


{% block title %}Login{% endblock %}


{% block jobs %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form method="post">{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
      <hr class="my-4">
              <a class="btn btn-lg btn-github btn-block text-uppercase" href="{% url 'social:begin' 'github' %}" role="button"><i class="fab fa-github"></i> Login with GitHub</a>
              <a class="btn btn-lg btn-facebook btn-block text-uppercase" href="{% url 'social:begin' 'facebook' %}" role="button"><i class="fab fa-facebook-f mr-2"></i> Login with Facebook</a>
              <a class="btn btn-lg btn-twitter btn-block text-uppercase" href="{% url 'social:begin' 'twitter' %}" role="button"><i class="fab fa-twitter mr-2"></i> Login with Twitter</a>
                      
      
			</form>
          </div>
          <div class="card-footer text-muted text-center">
            New to ABS-Forum? <a href="{% url 'signup' %}">Sign up</a>
          </div>
          <div class="text-center py-2">
          <small>
            <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
          </small>
        </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>
{% endblock  jobs%}

{% block footer %}
{% endblock footer %}